<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/admin/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">
            <h2>Add a post</h2>
            <form action="/admin-posts/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="author" class="form-label">Author/Creator</label>
                <input type="text" class="form-control" id="author" name="author">
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description"></textarea>
              </div>
              <div class="mb-3">
                <label for="year" class="form-label">Year</label>
                <input type="text" class="form-control" id="year" name="year"></input>
              </div>
              <div class="mb-3">
                <label for="language" class="form-label">Language</label>
                <input type="text" class="form-control" id="language" name="language"></input>
              </div>
              <div class="mb-3">
                <label for="fileUpload" class="form-label">File</label>
                <input type="file" class="form-control" id="fileUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">
        <% for(let i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <% if(posts[i].type === 'application') {%>
                <iframe
                src="<%= posts[i].file%>"
                frameBorder="0"
                scrolling="auto"
                height="100%"
                width="100%"
                ></iframe>
              <% } else if (posts[i].type === 'video') {%>
                <video controls width="100%" src="<%= posts[i].file%>"></video>
              <% } else if (posts[i].type === 'audio') {%>
                <audio controls src="<%= posts[i].file%>"></audio>
              <% } else {%>
                <img class="img-fluid" width="100%" src="<%= posts[i].file%>">
              <% } %>
              <h3><%= posts[i].title%></h3>
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <!-- <a class="btn btn-primary" href="/feed">Return to Feed</a> -->
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>